node_modules/
.env
dist/
build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.antigravity/
serviceAccountKey.json
google-services.json
tmp_*/
backend/node_modules/
tutution_erp/node_modules/
tutution_erp/frontend/node_modules/
tutution_erp/backend/node_modules/

.vercel
